annotated-types==0.7.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
Deprecated==1.2.14
idna==3.7
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
PyJWT==2.8.0
pytz==2024.1
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.2
vonage==3.16.0
vonage-jwt==1.1.1
vonage-utils==1.1.2
wrapt==1.16.0
